.main {
  display: flex;
  background: var(--background);
}

.main__image {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.main__nav {
  gap: 2.5rem;
  width: 840px;
  height: 100vh;

  flex-direction: column;
  justify-content: center;

  padding: 4rem;
  display: flex;
  background: var(--background);

  z-index: 1;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.1);
}

.main__nav__header {
  gap: 0.25rem;
  display: flex;
  flex-direction: column;
}

.main__nav__header__title {
  font-size: 1rem;
  font-weight: 600;
}

.main__nav__header__subtitle {
  font-weight: 400;
}

.main__nav__inputs {
  gap: 1rem;
  display: flex;
  flex-direction: column;
}
