.dashboard {
  display: flex;
  background: var(--background);
}

.dashboard__image {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.dashboard__main {
  gap: 2.5rem;
  min-width: calc(100vw - 420px);
  height: 100vh;

  flex-direction: column;
  /* justify-content: center; */

  padding: 8rem 4rem;
  display: flex;
  background: var(--background);

  z-index: 1;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.1);
}

.dashboard__main__header__title {
  font-size: 3rem;
  font-weight: 600;
}

.dashboard__main__columns {
  gap: 4rem;
  display: flex;
}
